body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.postedComment {
  padding: 20px;
  margin-left: 25px;
  border: 1px solid rgb(116, 116, 116);
  border-radius: 3px;
}
h4 {
  margin: 25px;
}
h5 {
  margin-left: 550px;
}

.commentForm {
  padding: 20px;
  margin-left: 43px;
}

.commentForm>input {
  padding: 20px;
  width: 400px;
}

.commentForm>button {
  padding: 20px;
  margin-left: 25px;
  cursor: pointer;
}

li {
  display: flex;
  margin-left: 25px;
  margin-bottom: 5px;
  list-style: none;
}